<% if @users.empty? %>
  <tr>
    <td colspan="6" class="text-center">
      <%= t "users.index.no_users" %>
    </td>
  </tr>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t "index.table.order" %></th>
        <th><%= t "users.index.table.name" %></th>
        <th><%= t "users.index.table.email" %></th>
        <th><%= t "users.index.table.active_status" %></th>
        <th><%= t "users.index.table.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "manager/users/user", collection: @users, as: :user, locals: {pagy: @pagy} %>
    </tbody>
  </table>

  <div class="d-flex text-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% end %>
