<div class="col-md-9">
  <div class="card shadow-sm rounded">
    <div class="card-header">
      <h4 class="mb-0"><%= t("users.profile.general_information") %></h4>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered table-hover mb-0">
        <tbody>
          <tr>
            <th class="col-md-3 text-md-right align-middle"><%= t(".name") %></th>
            <td class="col-md-9"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="text-md-right align-middle"><%= t("users.profile.email") %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th class="text-md-right align-middle"><%= t("users.profile.phone_number") %></th>
            <td><%= @user.phone_number %></td>
          </tr>
          <tr>
            <th class="text-md-right align-middle"><%= t("users.profile.address") %></th>
            <td><%= @user.address %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
