<h1><%= t "users.mailers.welcome_email.subject" %></h1>

<p><%= t "users.mailers.welcome_email.greeting", name: @user.name %></p>

<p><%= t "users.mailers.welcome_email.body_html_1" %></p>

<p><%= t "users.mailers.welcome_email.body_html_2" %></p>
<ul>
  <li><strong><%= t "users.mailers.welcome_email.email" %>:</strong> <%= @user.email %></li>
  <li><strong><%= t "users.mailers.welcome_email.password" %>:</strong> <%= @password %></li>
</ul>

<p><%= t "users.mailers.welcome_email.log_in_here" %> <%= link_to t("users.mailers.welcome_email.log_in_link"), new_user_session_url %></p>

<p><%= t "users.mailers.welcome_email.thanks_for_joining" %></p>
