<tr>
  <td><%= pagy.from + local_assigns[:department_counter] %></td>
  <td><%= department.name %></td>
  <td><%= department.users.count %></td>
  <td><%= department.description %></td>
  <td class="d-flex gap-1">
    <%= admin_department_action_buttons department %>
  </td>
</tr>
