<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t "departments.index.table.no" %></th>
      <th><%= t "departments.index.table.name" %></th>
      <th><%= t "departments.index.table.staff_count" %></th>
      <th><%= t "departments.index.table.description" %></th>
      <th><%= t "departments.index.table.status" %></th>
      <th><%= t "departments.index.table.actions" %></th>
    </tr>
  </thead>
  <tbody class="departments">
    <%= render partial: "department", collection: @departments, as: :department, locals: {pagy: @pagy} %>
  </tbody>
</table>
<div class="d-flex justify-content-center mt-4">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
