<h1 class="text-center"><%= t("departments.index.title") %></h1>

<div class="row mb-4 align-items-end">
  <div class="col-md-10">
    <%= form_with url: admin_departments_path, method: :get, local: true do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("departments.index.search_placeholder"), class: "form-control" %>
    <% end %>
  </div>
  <div class="col-md-2 text-md-end mt-2 mt-md-0">
    <%= link_to new_admin_department_path, class: "btn btn-success" do %>
      <i class="fas fa-plus"></i> <%= t("departments.index.add_button") %>
    <% end %>
  </div>
</div>

<% if @departments.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("departments.index.table.name") %></th>
        <th><%= t("departments.index.table.description") %></th>
        <th><%= t("departments.index.table.staff_count") %></th>
        <th><%= t("departments.index.table.created_at") %></th>
        <th><%= t("departments.index.table.updated_at") %></th>
        <th><%= t("departments.index.table.actions") %></th>
      </tr>
    </thead>
    <tbody class="departments">
        <%= render @departments %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t("departments.index.table.no_result") %>
  </div>
<% end %>
