<h2 class="text-center"><%= t "dashboard.title" %></h2>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <i class="bi bi-person"></i> <%= t("dashboard.manager.user_info") %>
        </div>
        <div class="card-body">
          <p><strong><%= t("dashboard.manager.name") %>:</strong> <%= current_user.name %></p>
          <p><strong><%= t("dashboard.manager.email") %>:</strong> <%= current_user.email %></p>
          <p><strong><%= t("dashboard.manager.role") %>:</strong> <%= current_user.role %></p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-success text-white">
          <i class="bi bi-building"></i> <%= t("dashboard.manager.department_info") %>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong><%= t("dashboard.manager.department_name") %>:</strong> <%= @department.name %>
            </li>
            <li class="list-group-item">
              <p class="card-text"><strong><%= t "departments.show.active_users_count" %>:</strong> <%= @active_users_count %></p>
            </li>
            <li class="list-group-item">
              <strong><%= t("dashboard.manager.pending_reports") %>:</strong> <%= @pending_reports_count %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
