<div class="row mb-4 align-items-end">
  <div class="col-md-4">
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :email, value: params[:email], placeholder: t("users.index.search_placeholder"), class: "form-control" %>
    <% end %>
  </div>
  <div class="col-md-8 text-md-end mt-2 mt-md-0">
      <%= form_with url: users_path, method: :get, local: true, class: "row row-cols-lg-auto g-3 align-items-center mb-4" do |f| %>
        <div class="col-md-4">
          <%= f.label :role, t("users.index.filter.role"), class: "form-label" %>
          <%= f.select :role, role_options_for_select, {include_blank: t("users.index.filter.all")}, class: "form-select" %>
        </div>

        <div class="col-md-4">
          <%= f.label :department_id, t("users.index.filter.department"), class: "form-label" %>
          <%= f.select :department_id, department_options_for_select, {include_blank: t("users.index.filter.all")}, class: "form-select" %>
        </div>

        <div class="col-md-4 d-flex align-items-end gap-2">
          <%= f.submit t("users.index.filter.submit"), class: "btn btn-primary me-2" %>
          <%= link_to t("users.index.filter.reset"), users_path, class: "btn btn-secondary" %>
        </div>
      <% end %>

  </div>
</div>
