<h1 class="text-center"><%= t("users.index.title") %></h1>

<%= render "filter_form" %>

<% if @users.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "users.index.table.name" %></th>
        <th><%= t "users.index.table.email" %></th>
        <th><%= t "users.index.table.role" %></th>
        <th><%= t "users.index.table.department" %></th>
        <th><%= t "users.index.table.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <div class="d-flex text-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
<% else %>
  <div class="alert alert-warning text-center" role="alert">
    <%= t "users.index.table.no_result" %>
  </div>
<% end %>
