<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <% if user.manager? %>
      <%= t "users.roles.manager" %>
    <% else %>
      <%= t "users.roles.user" %>
    <% end %>
  </td>
  <td><%= user.department_name if user.department.present? %></td>
  <td>
    <%= user_action_buttons user %>
  </td>
</tr>
