<tr>
  <td><%= pagy.from + local_assigns[:user_counter] %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <span class="badge <%= user.active? ? 'badge-success' : 'badge-secondary' %>">
      <%= user.active? ? t("users.index.active_status") : t("users.index.inactive_status") %>
    </span>
  </td>
  <td>
    <%= user_action_buttons user %>
  </td>
</tr>
