<%= form_with url: manager_daily_reports_path, method: :get, local: true, class: "row g-3 mb-4" do |f| %>
  <div class="col-md-2">
    <%= label_tag :member, t("daily_report.index.member"), class: "form-label" %>
    <%= select_tag :user_id,
      options_from_collection_for_select(@staff_members, :id, :name, params[:user_id]),
      include_blank: t("daily_report.index.all_staff"),
      class: "form-select select2" %>
  </div>

  <div class="col-md-3">
    <%= label_tag :report_date, t("daily_report.index.report_date"), class: "form-label" %>
    <%= date_field_tag :report_date, params[:report_date], class: "form-control" %>
  </div>

  <div class="col-md-1">
    <%= label_tag :status, t("daily_report.index.status"), class: "form-label" %>
    <%= select_tag :status,
      options_for_select(DailyReport.statuses.keys.map { |s| [t("daily_report.statuses.#{s}"), s] }, params[:status]),
      include_blank: t("daily_report.index.all_status"),
      class: "form-select" %>
  </div>

  <div class="col-md-4">
    <%= submit_tag t("daily_report.index.filter_button"), class: "btn btn-primary me-2" %>
    <%= link_to t("daily_report.index.reset_button"), manager_daily_reports_path, class: "btn btn-secondary" %>
  </div>
<% end %>
