<h1 class="text-center"><%= t("devise.sessions.new.sign_in") %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.label :email, t("devise.sessions.new.email_address"), class: "form-label" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>

  <%= f.label :password, t("devise.sessions.new.password"), class: "form-label" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>

  <% if devise_mapping.rememberable? %>
    <div class="form-check mb-4">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, t("devise.sessions.new.remember_me"), class: "form-check-label" %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= link_to t("devise.sessions.new.forgot_password"), new_password_path(resource_name) %>
  </div>

  <%= f.submit t("devise.sessions.new.sign_in"), class: "btn btn-primary btn-lg btn-block mb-4" %>
<% end %>
