<tr>
  <td><%= daily_report.owner&.name %></td>
  <td><%= l(daily_report.created_at, format: :short) %></td>
  <td><%= l(daily_report.report_date, format: :short) %></td>
  <td>
    <span class="badge <%= status_badge_class daily_report.status %>">
      <%= daily_report.status.titleize %>
    </span>
  </td>
  <td><%= daily_report.receiver&.name %></td>
  <td><%= truncate(daily_report.planned_tasks, length: Settings.MIN_LENGTH_TEXT_20) %></td>
  <td><%= daily_report.reviewed_at.present? ? l(daily_report.reviewed_at, format: :short) : "-" %></td>
  <td><%= daily_report_action_buttons daily_report %></td>
</tr>
