<p><%= t ".hello_email", email: @resource.email %></p>

<p><%= t ".someone_requested_password_change" %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".ignore_email_if_not_requested" %></p>
<p><%= t ".password_wont_change_until_accessed" %></p>
