<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <% if user.manager? %>
      <%= t "users.roles.manager" %>
    <% elsif user.user? %>
      <%= t "users.roles.user" %>
    <% end %>
  </td>
  <td>
    <% if user.active? %>
      <span class="badge bg-success"><%= t "users.active" %></span>
    <% else %>
      <span class="badge bg-secondary"><%= t "users.inactive" %></span>
    <% end %>
  </td>
  <td><%= user.department_name if user.department.present? %></td>
  <td>
    <%= admin_user_action_buttons user %>
  </td>
</tr>
