<div class="sidebar">
  <%= link_to root_path, id: "logo" do %>
    <div class="logo">
      <i class="fas fa-cube"></i> DRM
    </div>
  <% end %>

  <% nav_items_for(current_user.role).each do |item| %>
    <% active_class = current_page?(item[:path]) ? "active" : "" %>

    <% if item[:label] == t("nav_items.logout") %>
      <%= link_to logout_path, data: { "turbo-method": :delete }, class: "nav-item" do %>
        <span class="nav-icon"><i class="fas fa-<%= item[:icon] %>"></i></span>
        <span class="nav-text"><%= item[:label] %></span>
      <% end %>
    <% else %>
      <%= link_to item[:path], class: "nav-item #{active_class}" do %>
        <span class="nav-icon"><i class="fas fa-<%= item[:icon] %>"></i></span>
        <span class="nav-text"><%= item[:label] %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
