<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "layouts/sidebar" %>

  <div class="main-area">
    <%= render "layouts/header" %>

    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>"><%= msg %></div>
    <% end %>

    <div class="content" id="content-area">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </div>
</body>
</html>
